<div class="container mt-6">
<div class="columns is-multiline is-mobile">
  <%= render partial: 'books/book', collection: @books, locals: { show_link: true } %>
</div>
<%= paginate @books %>
</div>