
<div class="container mt-5">
<div class="columns is-multiline is-mobile">
<% @categories.each do |cat| %>
<%= link_to cat do %>
<div class="column is-one-fifth">
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <%= image_tag "category.jpg", alt: "#{cat.name}"%>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">

      <div class="media-content">
        <p class="title is-4"><%= link_to cat.name, cat %></p>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
<% end %>
</div>
</div>
