
<h2 class="subtitle is-3"><%= @category.name %> Category:</h2>
<div class="container mt-6">

<div class="columns is-multiline is-mobile">
  <%= render partial: 'books/book', collection: @category.books %>
</div>
</div>