<hr>
<footer>
<p><em>ecommerce project</em></p>
<ul class="mt-5">
  <li><%= link_to "About Us", permalink_path('about_us') %></li>
  <li><%= link_to "Contact Us", permalink_path('contact_us') %></li>
</ul>








</footer>